@import url('https://fonts.googleapis.com/css?family=Poppins');

.main-footer {
  /* margin-top: 30px; */
  /* padding: 10px; */
  width: 100%;
}

.title {
  display: flex;
  
  height: 5vh;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
