@import url('https://fonts.googleapis.com/css?family=Poppins');

.header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.header-menu {
  display: flex;
  widows: 100%;
  flex-direction: row;
  justify-content: center;
  padding-top: 2.5rem;
}

.menu {
  font-weight: lighter;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.menu:hover {
  font-weight: lighter;
  padding: 0.5rem;
  cursor: pointer;
  color: slategray;
  font-family: 'Poppins', sans-serif;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}